<div>
    <!-- search by static values of media table-->
    <div id = "mediaId">
        Media ID
        <input [(ngModel)]="specificMediaId" #mediaIdInputHTML class="form-control form-control-sm mt-1" type="number">
    </div>

    <!-- search by tag values -->
    <form id="tagi">
        <div class="form-group" *ngFor="let tag of mozniTagi">
            <img *ngIf="preveriCeLahkoDodaTag(tag)" src="../../../assets/images/plus.png" width="8px" height="8px"
                 style="cursor: pointer"
                 (click)="dodajSeEnTag(tag)">
            <img *ngIf="preveriCeLahkoOdstraniTag(tag)" src="../../../assets/images/minus.png" width="8px" height="8px"
                 style="cursor: pointer"
                 (click)="odstraniTag(tag)" class="ml-2">
            <div *ngIf="tag.childTags.length > 0">
                <div *ngIf="!tag.checkbox">
                    <label>{{tag.name}}</label>
                    <select class="form-control form-control-sm" [id]="tag.tagId" [(ngModel)]="tag.selectedChild"
                            [ngModelOptions]="{standalone: true}">
                        <option selected></option>
                        <option *ngFor="let child of tag.childTags" [ngValue]="child">{{child.name}}</option>
                    </select>
                </div>
                <div *ngIf="tag.checkbox">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="tag.checkboxValue"
                           (ngModelChange)="jeIzbralNivo($event, tag)" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label">{{tag.name}}</label>
                </div>

                <div *ngIf="tag.selectedChild && tag.selectedChild.childTags.length > 0">
                    <div *ngIf="!tag.selectedChild.checkbox">
                        <label *ngIf="!tag.checkbox">{{tag.selectedChild.name}}</label>
                        <select class="form-control form-control-sm" [id]="tag.selectedChild.tagId"
                                [(ngModel)]="tag.selectedChild.selectedChild"
                                [ngModelOptions]="{standalone: true}">
                            <option selected></option>
                            <option *ngFor="let child2 of tag.selectedChild.childTags" [ngValue]="child2">
                                {{child2.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="tag.selectedChild.checkbox">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="tag.selectedChild.checkboxValue"
                               (ngModelChange)="jeIzbralNivo($event, tag.selectedChild)"
                               [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.name}}</label>
                    </div>

                    <div *ngIf="tag.selectedChild.selectedChild && tag.selectedChild.selectedChild.childTags.length > 0">
                        <div *ngIf="!tag.selectedChild.selectedChild.checkbox">
                            <label *ngIf="!tag.checkbox">{{tag.selectedChild.selectedChild.name}}</label>
                            <select class="form-control form-control-sm" [id]="tag.selectedChild.selectedChild.tagId"
                                    [(ngModel)]="tag.selectedChild.selectedChild.selectedChild"
                                    [ngModelOptions]="{standalone: true}">
                                <option selected></option>
                                <option *ngFor="let child3 of tag.selectedChild.selectedChild.childTags"
                                        [ngValue]="child3">
                                    {{child3.name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="tag.selectedChild.selectedChild.checkbox">
                            <input class="form-check-input" type="checkbox"
                                   [(ngModel)]="tag.selectedChild.selectedChild.checkboxValue"
                                   (ngModelChange)="jeIzbralNivo($event, tag.selectedChild.selectedChild)"
                                   [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.selectedChild.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <button class="btn btn-success float-left" (click)="filtrirajPrikaz(true)">Išči</button>
    <div *ngIf="loading === true" class="loader float-left ml-3 mt-1"></div>
</div>

<table class="table table-sm" id="seznamSlik" *ngIf="medijiSeznam.length > 0">
    <thead>
    <tr>
        <th value="mediaId" (click)="sortClick($event)" style="cursor: pointer">ID
            <i value="mediaId"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'mediaId' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="mediaId"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'mediaId' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
        <th value="siteId" (click)="sortClick($event)">site
            <i value="siteId"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'siteId' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="siteId"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'siteId' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
        <th value="date" (click)="sortClick($event)">datum
            <i value="date" *ngIf="filtriranjeNastavitve.filtrirajPo === 'date' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="date" *ngIf="filtriranjeNastavitve.filtrirajPo === 'date' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
        <th value="image" (click)="sortClick($event)">tip
            <i value="image" *ngIf="filtriranjeNastavitve.filtrirajPo === 'image' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="image"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'image' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
        <th value="empty" (click)="sortClick($event)">prazna
            <i value="empty" *ngIf="filtriranjeNastavitve.filtrirajPo === 'empty' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="empty"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'empty' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
        <th value="interesting" (click)="sortClick($event)">zanimiva
            <i value="interesting"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'interesting' && filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-up"></i>
            <i value="interesting"
               *ngIf="filtriranjeNastavitve.filtrirajPo === 'interesting' && !filtriranjeNastavitve.filtrirajAsc"
               class="fa fa-sort-down"></i>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let medij of medijiSeznam" style="cursor: pointer;" (click)="odpriOznacevanje(modalOznacevanje, medij)">
        <td>{{medij.mediaId}}</td>
        <td>{{medij.siteId.name}}</td>
        <td>{{medij.date | date:"dd.MM.yyyy"}}</td>
        <td>{{medij.image ? "slika" : "video"}}</td>
        <td>{{medij.empty}}</td>
        <td>{{medij.interesting}}</td>
    </tr>
    </tbody>
</table>

<div class="row" *ngIf="medijiSeznam.length > 0">
    <div class="col-xs-12 col-12">
        <pagination [totalItems]="stVsehZadetkov" [itemsPerPage]="filtriranjeNastavitve.stNaStran" [maxSize]="10"
                    [disabled]="loading" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;"
                    [(ngModel)]="filtriranjeNastavitve.stStrani" (pageChanged)="paginationClick($event)"></pagination>
    </div>
</div>

<!--Modal za oznacevanje-->
<ng-template #modalOznacevanje>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-oznacevanje [izbranMedia]="izbranMedia" [filtriraniMedia]="medijiSeznam"
                         [projectId]="projectId" [projectComponent]="this"></app-oznacevanje>
    </div>
</ng-template>