

<div class="card card-body">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{"PROJEKTI.METAPODATKI" | translate}}
                </div>
                <div class="card-body">
                    <!-- search by static values of media table-->
                    <div id = "mediaId">
                        <span class="parent-tag"> Media ID </span>
                        <input [(ngModel)]="specificMediaId" #mediaIdInputHTML class="form-control form-control-sm mb-1" type="number">
                        <span  class="parent-tag" > {{"PROJEKTI.IME" | translate}} </span>
                        <input class="form-control form-control-sm mb-1" type="text" [(ngModel)]="searchName">
                        <span  class="parent-tag" > {{"PROJEKTI.DATUM" | translate}} </span>
                        <input class="form-control form-control-sm mb-1" type="date" [(ngModel)]="searchDate">
                        <span class="parent-tag">{{"PROJEKTI.ZADNJI_PREGLEDOVALEC" | translate}} </span>
                        <input class="form-control form-control-sm mb-1" type="text" [(ngModel)]="lastUser">
                        <span  class="parent-tag">{{"PROJEKTI.DATUM_ZADNJEGA_PREGLEDA" | translate}}</span>
                        <input class="form-control form-control-sm mb-1" type="date" [(ngModel)]="lastDate">

                        <div class="row">
                            <div class="col-6">
                                <!-- Search by empty or with animals -->
                                <form>
                                    <mat-form-field>
                                        <mat-select  placeholder="{{'PROJEKTI.TIP_MEDIJA' | translate}}" [(value)]="this.media">
                                            <mat-option [value]="true">{{"PROJEKTI.SLIKA" | translate}}</mat-option>
                                            <mat-option [value]="false">{{"PROJEKTI.VIDEO" | translate}}</mat-option>
                                            <mat-option [value]="null">{{'PROJEKTI.NEDOLOCENO' | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>

                            <div class="col-6">
                                <!-- Search by empty or with animals -->
                                <form>
                                    <mat-form-field>
                                        <mat-select  placeholder="{{'PROJEKTI.VSEBINA_SLIKE' | translate}}" [(value)]="this.empty">
                                            <mat-option [value]="true">{{"PROJEKTI.PRAZNO" | translate}}</mat-option>
                                            <mat-option [value]="false">{{"PROJEKTI.Z_ZIVALMI" | translate}}</mat-option>
                                            <mat-option [value]="null">{{'PROJEKTI.NEDOLOCENO' | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>

                            <div class="col-6">
                                <!-- Search by projekti -->
                                <form class="projekti">
                                    <mat-form-field>
                                        <mat-select placeholder="{{'PROJEKTI.FILTERPROJECTS' | translate}}" [formControl]="this.filtriraniProjektiControl" multiple>
                                            <mat-option *ngFor="let projekt of mozniProjekti" [value]="projekt">{{projekt.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>

                            <div class="col-6">
                                <!-- Search by interesting photo -->
                                <form>
                                    <mat-form-field>
                                        <mat-select  placeholder="{{'PROJEKTI.ZANIMIVO' | translate}}" [(value)]="interesting">
                                            <mat-option [value]="true">{{'PROJEKTI.DA' | translate}}</mat-option>
                                            <mat-option [value]="false">{{'PROJEKTI.NE' | translate}}</mat-option>
                                            <mat-option [value]="null">{{'PROJEKTI.NEDOLOCENO' | translate}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{"PROJEKTI.ZNACKE" | translate}}
                </div>
                <div class="card-body">
                    <!-- search by tag values -->
                    <form id="tagi">
                        <div class="row">
                            <div class="form-group col-6 mb-1" *ngFor="let tag of mozniTagi">

                                <div *ngIf="tag.childTags.length > 0">
                                    <div *ngIf="!tag.checkbox">
                                        <label class="parent-tag">
                                            <span *ngIf="translate.currentLang === 'slv'">{{tag.sloName}}</span>
                                            <span *ngIf="translate.currentLang === 'eng'">{{tag.engName}}</span>
                                            <img *ngIf="preveriCeLahkoDodaTag(tag)" src="../../../assets/images/plus.png" width="8px" height="8px"
                                                 style="cursor: pointer"
                                                 (click)="dodajSeEnTag(tag)">
                                            <img *ngIf="preveriCeLahkoOdstraniTag(tag)" src="../../../assets/images/minus.png" width="8px" height="8px"
                                                 style="cursor: pointer"
                                                 (click)="odstraniTag(tag)" class="ml-2">
                                        </label>
                                        <select class="form-control form-control-sm" [id]="tag.tagId" [(ngModel)]="tag.selectedChild"
                                                [ngModelOptions]="{standalone: true}">
                                            <option selected></option>
                                            <option *ngFor="let child of tag.childTags" [ngClass]="{'has-childs' : child != undefined && child.childTags.length > 0}" [ngValue]="child">
                                                <span *ngIf="translate.currentLang === 'slv'">{{child.sloName}}</span>
                                                <span *ngIf="translate.currentLang === 'eng'">{{child.engName}}</span>
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="tag.checkbox" class="card card-body radio-box mb-1">
                                        <div class="row">
                                            <div class="col-12">
                                                <label class="check-container">
                                                    <span *ngIf="translate.currentLang === 'slv'">{{tag.sloName}}</span>
                                                    <span *ngIf="translate.currentLang === 'eng'">{{tag.engName}}</span>
                                                    <input class="form-check-input" type="checkbox" [(ngModel)]="tag.checkboxValue"
                                                           (ngModelChange)="jeIzbralNivo($event, tag)" [ngModelOptions]="{standalone: true}">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="tag.checkboxValue"
                                               (ngModelChange)="jeIzbralNivo($event, tag)" [ngModelOptions]="{standalone: true}">
                                        <label class="form-check-label">{{tag.name}}</label>
                                        -->
                                    </div>

                                    <div *ngIf="tag.selectedChild && tag.selectedChild.childTags.length > 0">
                                        <div *ngIf="!tag.selectedChild.checkbox">
                                            <select class="form-control form-control-sm" [id]="tag.selectedChild.tagId"
                                                    [(ngModel)]="tag.selectedChild.selectedChild"
                                                    [ngModelOptions]="{standalone: true}">
                                                <option selected></option>
                                                <option *ngFor="let child2 of tag.selectedChild.childTags" [ngClass]="{'has-childs' : child != undefined && child.childTags.length > 0}" [ngValue]="child2">
                                                    <span *ngIf="translate.currentLang === 'slv'">{{child2.sloName}}</span>
                                                    <span *ngIf="translate.currentLang === 'eng'">{{child2.engName}}</span>
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="tag.selectedChild.checkbox" class="card card-body radio-box mb-1">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label class="check-container"><span *ngIf="!tag.checkbox">
                                                        <span *ngIf="translate.currentLang === 'slv'">{{tag.selectedChild.sloName}}</span>
                                                        <span *ngIf="translate.currentLang === 'eng'">{{tag.selectedChild.engName}}</span>
                                                    </span>
                                                        <input class="form-check-input" type="checkbox" [(ngModel)]="tag.selectedChild.checkboxValue"
                                                               (ngModelChange)="jeIzbralNivo($event, tag.selectedChild)" [ngModelOptions]="{standalone: true}">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="tag.selectedChild.checkboxValue"
                                                   (ngModelChange)="jeIzbralNivo($event, tag.selectedChild)"
                                                   [ngModelOptions]="{standalone: true}">
                                            <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.name}}</label>
                                            -->
                                        </div>

                                        <div *ngIf="tag.selectedChild.selectedChild && tag.selectedChild.selectedChild.childTags.length > 0">
                                            <div *ngIf="!tag.selectedChild.selectedChild.checkbox">
                                                <select class="form-control form-control-sm" [id]="tag.selectedChild.selectedChild.tagId"
                                                        [(ngModel)]="tag.selectedChild.selectedChild.selectedChild"
                                                        [ngModelOptions]="{standalone: true}">
                                                    <option selected></option>
                                                    <option *ngFor="let child3 of tag.selectedChild.selectedChild.childTags" [ngClass]="{'has-childs' : child != undefined && child.childTags.length > 0}"
                                                            [ngValue]="child3">
                                                        <span *ngIf="translate.currentLang === 'slv'">{{child3.name}}</span>
                                                        <span *ngIf="translate.currentLang === 'eng'">{{child3.name}}</span>
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="tag.selectedChild.selectedChild.checkbox" class="card card-body radio-box mb-1">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label class="check-container"><span *ngIf="!tag.checkbox">
                                                            <span *ngIf="translate.currentLang === 'slv'">{{tag.selectedChild.selectedChild.name}}</span>
                                                            <span *ngIf="translate.currentLang === 'eng'">{{tag.selectedChild.selectedChild.name}}</span>
                                                        </span>
                                                            <input class="form-check-input" type="checkbox" [(ngModel)]="tag.selectedChild.selectedChild.checkboxValue"
                                                                   (ngModelChange)="jeIzbralNivo($event, tag.selectedChild.selectedChild)" [ngModelOptions]="{standalone: true}">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!--
                                                <input class="form-check-input" type="checkbox"
                                                       [(ngModel)]="tag.selectedChild.selectedChild.checkboxValue"
                                                       (ngModelChange)="jeIzbralNivo($event, tag.selectedChild.selectedChild)"
                                                       [ngModelOptions]="{standalone: true}">
                                                <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.selectedChild.name}}</label>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tag.childTags.length === 0 && tag.input">
                                    <label class="parent-tag">
                                        <span *ngIf="translate.currentLang === 'slv'">{{tag.sloName}}</span>
                                        <span *ngIf="translate.currentLang === 'eng'">{{tag.engName}}</span>
                                    </label>
                                    <input class="form-control form-control-sm" type="number" [(ngModel)]="tag.inputValue"
                                           [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="btn btn-outline-dark" style="float: right; display: flex" (click)="resetSearch()">
                <i class="fa fa-refresh ikona">

                </i>
                <span class="ml-2">{{"PROJEKTI.PONASTAVI" | translate}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card card-body">
            <div style="width: auto" >
                <button class="btn btn-success float-left" (click)="filtrirajPrikaz(true)">{{"PROJEKTI.ISKANJE" | translate}}</button>
                <div class="ml-1 float-left">{{"PROJEKTI.ST_MEDIJI_STRAN" | translate}}: <input [(ngModel)]="mediaPerPage" type="number"
                                                                                                style="width: 4em"></div>
                <div *ngIf="stVsehZadetkov" class="ml-1 float-left">{{"PROJEKTI.ST_MEDIJI_VSI" | translate}}: {{stVsehZadetkov}}</div>
                <div *ngIf="loading === true" class="loader float-left ml-3 mt-1"></div>
            </div>

            <table class="table table-sm" id="seznamSlik" *ngIf="medijiSeznam.length > 0">
                <thead>
                <tr>
                    <th value="mediaId" (click)="sortClick($event)" style="cursor: pointer">ID
                        <i value="mediaId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'mediaId' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="mediaId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'mediaId' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="siteId" (click)="sortClick($event)">{{"ISKANJE.LOKACIJA" | translate}}
                        <i value="siteId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'siteId' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="siteId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'siteId' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="date" (click)="sortClick($event)">{{"ISKANJE.DATUM" | translate}}
                        <i value="date" *ngIf="filtriranjeNastavitve.filtrirajPo === 'date' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="date" *ngIf="filtriranjeNastavitve.filtrirajPo === 'date' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="image" (click)="sortClick($event)">{{"ISKANJE.TIP" | translate}}
                        <i value="image" *ngIf="filtriranjeNastavitve.filtrirajPo === 'image' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="image"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'image' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="empty" (click)="sortClick($event)">{{"ISKANJE.PRAZNA" | translate}}
                        <i value="empty" *ngIf="filtriranjeNastavitve.filtrirajPo === 'empty' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="empty"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'empty' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="interesting">{{"ISKANJE.ZANIMIVA" | translate}}
                        <i value="interesting"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'interesting' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="interesting"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'interesting' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="viewed" >{{"ISKANJE.PREGLEDANA" | translate}} (<span>hide? <input type="checkbox" [(ngModel)]="projectsHide"></span>)
                    </th>
                    <th value="lastUserId" (click)="sortClick($event)">{{"ISKANJE.PREGLEDOVALEC" | translate}}
                        <i value="lastUserId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'lastUserId' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="lastUserId"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'lastUserId' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                    <th value="lastDate" (click)="sortClick($event)">{{"ISKANJE.PREG_DATUM" | translate}}
                        <i value="lastDate"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'lastDate' && filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-up"></i>
                        <i value="lastDate"
                           *ngIf="filtriranjeNastavitve.filtrirajPo === 'lastDate' && !filtriranjeNastavitve.filtrirajAsc"
                           class="fa fa-sort-down"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let medij of medijiSeznam" style="cursor: pointer;" (click)="odpriOznacevanje(modalOznacevanje, medij)">
                    <td>{{medij.mediaId}}</td>
                    <td>{{medij.siteId.name}}</td>
                    <td>{{medij.date | date:"dd.MM.yyyy"}}</td>
                    <td>{{"ISKANJE." + (medij.image ? "slika" : "video" )| translate}}</td>
                    <td>{{"ISKANJE." + medij.empty | translate}}</td>
                    <td>{{"ISKANJE." + medij.interesting | translate}}</td>
                    <td>
                        <span>{{alreadySeen(medij.mediaProjects)}}</span>
                        <ng-container *ngIf="!projectsHide">
                            <span *ngFor="let project of medij.mediaProjects; let x = index">
                            <span *ngIf="x != 0 ">,</span>
                            {{project.projectId.name}}
                            </span>
                        </ng-container>
                    </td>
                    <td>
                        <span *ngIf="medij.lastUserId">
                            {{medij.lastUserId.username}}
                        </span>
                        <span *ngIf="!medij.lastUserId">
                            ❌
                        </span>
                    </td>
                    <td>
                        <span *ngIf="medij.lastDate">
                            {{readableDate(medij.lastDate)}}
                        </span>
                        <span *ngIf="!medij.lastDate">
                            ❌
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row" *ngIf="medijiSeznam.length > 0">
                <div class="col-xs-12 col-12">
                    <pagination [totalItems]="stVsehZadetkov" [itemsPerPage]="filtriranjeNastavitve.stNaStran" [maxSize]="10"
                                [disabled]="loading" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                lastText="&raquo;"
                                [(ngModel)]="filtriranjeNastavitve.stStrani" (pageChanged)="paginationClick($event)"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal za oznacevanje-->
<ng-template #modalOznacevanje >
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{"PROJEKTI.OZNACEVANJE" | translate}}</h4>
        <!-- width and height -->
        <div class="float-right">
            <input (change)="this.nastaviVisinoInDolzinoModala()"
                   min="15" max="99"
                   [(ngModel)]="this.width"
                   type="number"
                   style="width: 3em"
                   class="ml-2 mr-1">  %
            <input (change)="this.nastaviVisinoInDolzinoModala()"
                   min="15" max="99"
                   [(ngModel)]="this.height"
                   type="number"
                   style="width: 3em"
                   class="ml-1 mr-1">  %
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-oznacevanje [izbranMedia]="izbranMedia" [filtriraniMedia]="medijiSeznam"
                         [projectId]="projectId" [projectComponent]="this"></app-oznacevanje>
    </div>
</ng-template>