.header {
    background-color: #3b3d4b;
    height: 60px;
    width: 100%;
}

main {
    padding: 25px;
}

.header-title {
    line-height: 60px;
    font-size: 40px;
    float: left;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.spusti-dol {
    height: 100%;
    float: right;
    margin-right: 20px;
    line-height: 60px;
}

.spusti-dol button {
    color: white;
}

.spusti-dol:hover button {
    text-decoration: none;
}

.dropdown-item:focus {
    background-color: #a51000 !important;
}