<div class="row">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">{{"OGRODJE.NASTAVITVE" | translate}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 mb-2">
                        <app-index-link [link]="'/nastavitve'" [tekst]="'NASTAVITVE'"></app-index-link>
                    </div>
                    <div class="col-3 mb-2">
                        <app-index-link [link]="'/uporabniki'" [tekst]="'UPORABNIKI'"></app-index-link>
                    </div>
                    <div class="col-3 mb-2">
                        <app-index-link [link]="'/home-page-editor'" [tekst]="'HOMEPAGEEDITOR'"></app-index-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
