.link:hover {
    border-color: #b4162c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #a51000 !important;
    border-color: #a51000 !important;
}

.page-link {
    color: #a51000 !important;
}