<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Projekti
      </div>
      <div class="card-body">
        <div class="row" *ngIf="projekti">
          <div class="col-12">
            <pagination [totalItems]="projekti.length" [itemsPerPage]="20" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
          </div>
          <div class="col-3 mb-3" *ngFor="let projekt of prikazaniProjekti">
            <div class="card card-body text-center link" (click)="goTo(projekt.projectId)" style="height: 100%">
              <div>{{projekt.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>