#navodilaPot {
    font-size: 0.75em;
    color: grey;
}

.tag-true {
    background-color: #bcbbcb;
    border-color: #b4162c;
    cursor: pointer;
}

.tag-false {
    background-color: #ffffff;
    cursor: pointer;
}