<div id="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{"NASTAVITVE.NASLOV" | translate}}</h3>
            <div class="card">
                <div class="card-header">
                    {{"NASTAVITVE.POTDOSLIK" | translate}}
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'NASTAVITVE.POTPLACEHOLDER' | translate}}" aria-label="potDoSlik"
                               aria-describedby="basic-addon2" [(ngModel)]="potDoSlik">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="setDir()">{{"NASTAVITVE.SHRANI" | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-success mt-1" role="alert" *ngIf="potSuccess1 && potSuccess2">
                        {{"NASTAVITVE.POTUSPEH" | translate}}
                    </div>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="potEmpty">
                        {{"NASTAVITVE.POTPRAZNA" | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    {{"NASTAVITVE.PROJEKT" | translate}}
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="form-inline">
                                <div class="input-group">
                                    <input type="text" class="form-control" style="float: right"
                                           [(ngModel)]="searchTerm">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" style="display: flex"
                                                (click)="searchProjekt()">
                                            <i class="material-icons">
                                                search
                                            </i>
                                        </button>
                                    </div>
                                </div>
                                <div style="float: left">
                                    <button class="btn btn-outline-success ml-2" style="display: flex" type="button"
                                            (click)="ustvariNovProjekt(novProjekt)">
                                        <i class="material-icons">
                                            add_circle_outline
                                        </i>
                                        <span> {{"NASTAVITVE.DODAJ" | translate}}</span>
                                    </button>
                                </div>
                                <div style="float: left" *ngIf="projektName != ''">
                                    <button class="btn btn-outline-danger ml-2" style="display: flex"
                                            (click)="izbrisiModal(delProjekt)">
                                        <i class="material-icons">
                                            remove_circle_outline
                                        </i>
                                        <span> {{"NASTAVITVE.ODSTRANI" | translate}}</span>
                                    </button>
                                </div>
                                <button class="btn btn-outline-dark ml-2" (click)="nastaviTage()">{{"NASTAVITVE.SHRANI" | translate}}</button>
                            </div>

                            <ng-template #novProjekt>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{"NASTAVITVE.NOVPROJEKT" | translate}}</h4>
                                    <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="novProjektRef.hide(novProjekt)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card card-body">
                                        <input type="text" class="form-control" placeholder="{{'NASTAVITVE.IME' | translate}}"
                                               [(ngModel)]="novProjektIme">
                                        <div class="alert alert-danger mt-1" role="alert"
                                             *ngIf="emptyProjektNameWarning">
                                            {{"NASTAVITVE.PROJEKTPRAZNO" | translate}}
                                        </div>
                                        <div class="alert alert-danger mt-1" role="alert"
                                             *ngIf="duplicateProjectWarning">
                                            {{"NASTAVITVE.PROJEKTOBSTAJA" | translate}}
                                        </div>
                                        <div class="alert alert-danger mt-1" role="alert" *ngIf="otherErrorWarning">
                                            {{"NASTAVITVE.PROJEKTNAPAKA" | translate}}
                                        </div>
                                        <div class="alert alert-success mt-1" role="alert" *ngIf="projectCreateSuccess">
                                            {{"NASTAVITVE.PROJEKTUSPEH" | translate}}
                                        </div>
                                        <div *ngIf="!otherErrorWarning && !projectCreateSuccess">
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6" *ngFor="let element of novProjektTags">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                               ng-checked="element.tagValues.active"
                                                               (change)="changeBool(element)">
                                                        <label class="form-check-label">
                                                            <span *ngIf="translate.currentLang === 'slv'">{{element.tagId.sloName}}</span>
                                                            <span *ngIf="translate.currentLang === 'eng'">{{element.tagId.engName}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div *ngIf="!otherErrorWarning && !projectCreateSuccess">
                                                    <button type="button" class="btn btn-outline-danger ml-3"
                                                            style="float: right; display: flex"
                                                            (click)="novProjektRef.hide(novProjekt)">{{"NASTAVITVE.PREKLICI" | translate}}
                                                    </button>
                                                    <button type="button" class="btn btn-outline-success"
                                                            style="float: right; display: flex"
                                                            (click)="shraniNovProjekt()">{{"NASTAVITVE.SHRANI" | translate}}
                                                    </button>
                                                </div>
                                                <div *ngIf="otherErrorWarning">
                                                    <button type="button" class="btn btn-outline-warning"
                                                            style="float: right; display: flex"
                                                            (click)="novProjektRef.hide(novProjekt)">Ok
                                                    </button>
                                                </div>
                                                <div *ngIf="projectCreateSuccess">
                                                    <button type="button" class="btn btn-outline-success"
                                                            style="float: right; display: flex"
                                                            (click)="novProjektRef.hide(novProjekt)">Ok
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #delProjekt>
                                <div class="modal-header">
                                    <h4 class="modal-title pull-left">{{"NASTAVITVE.IZBRISIPROJEKT" | translate}}</h4>
                                    <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="odstraniProjektRef.hide()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card card-body">
                                        <div *ngIf="!projectDeleteSuccess">
                                            {{"NASTAVITVE.PROJEKTPREPICANI" | translate}}
                                            <b>{{projektName}}</b>?
                                        </div>
                                        <div class="alert alert-success mt-1" role="alert" *ngIf="projectDeleteSuccess">
                                            {{"NASTAVITVE.PROJEKTIZBRIS" | translate}}
                                        </div>
                                        <div class="alert alert-danger mt-1" role="alert" *ngIf="otherErrorWarning">
                                            {{"NASTAVITVE.NAPAKA" | translate}}
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div *ngIf="!projectDeleteSuccess && !otherErrorWarning">
                                                    <button type="button" class="btn btn-outline-danger ml-3"
                                                            style="float: right; display: flex"
                                                            (click)="odstraniProjektRef.hide()">{{"NASTAVITVE.PREKLICI" | translate}}
                                                    </button>
                                                    <button type="button" class="btn btn-outline-success"
                                                            style="float: right; display: flex" (click)="izbrisiProjekt()">
                                                        {{"NASTAVITVE.IZBRISI" | translate}}
                                                    </button>
                                                </div>
                                                <div *ngIf="projectDeleteSuccess">
                                                    <button type="button" class="btn btn-outline-success"
                                                            style="float: right; display: flex" (click)="odstraniProjektRef.hide()">
                                                        Ok
                                                    </button>
                                                </div>
                                                <div *ngIf="otherErrorWarning">
                                                    <button type="button" class="btn btn-outline-warning"
                                                            style="float: right; display: flex" (click)="odstraniProjektRef.hide()">
                                                        Ok
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2" *ngIf="!prikazaniProjekti || prikazaniProjekti.length">
                        <div class="col-12">
                            <div class="pageContainer">
                                <pagination [totalItems]="totalProjects" [itemsPerPage]="20"
                                            (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
                                            nextText="&rsaquo;"></pagination>
                            </div>
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div *ngFor="let projekt of prikazaniProjekti">
                                            <button class="btn btn-outline-dark mb-2 mr-2"
                                                    style="white-space: normal; float: left;"
                                                    (click)="nastaviProjekt(projekt)">{{projekt.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  *ngIf="izbranProjekt != null">
                        <div class="col-12">
                            <div class="card card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-3 mb-3" *ngFor="let tag of projektTags">
                                            <div (click)="tag.active = !tag.active" class="card card-body"
                                                 [ngClass]="{'tag-true': tag.active, 'tag-false': !tag.active}">
                                                {{tag.tagId.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{"NASTAVITVE.ZNACKE" | translate}}
                </div>
                <div class="card-body">
                    <div class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" style="float: right" [(ngModel)]="tagSearchTerm">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" style="display: flex"
                                        (click)="searchTags()">
                                    <i class="material-icons">
                                        search
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div style="float: left">
                            <button class="btn btn-outline-success ml-2" style="display: flex" type="button"
                                    (click)="novaZnacka(newTag)">
                                <i class="material-icons">
                                    add_circle_outline
                                </i>
                                <span> {{"NASTAVITVE.DODAJ" | translate}}</span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="pageContainer">
                                <pagination [totalItems]="totalTags" [itemsPerPage]="20"
                                            (pageChanged)="tagPageChanged($event)" previousText="&lsaquo;"
                                            nextText="&rsaquo;"></pagination>
                            </div>
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div *ngFor="let tag of prikazaniTagi">
                                            <button class="btn btn-outline-dark mb-2 mr-2"
                                                    style="white-space: normal; float: left;"
                                                    (click)="urediZnacko(tagSettings, tag)">
                                                <span *ngIf="translate.currentLang === 'slv'">{{tag.sloName}}</span>
                                                <span *ngIf="translate.currentLang === 'eng'">{{tag.engName}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #tagSettings>
                            <div class="modal-header">
                                <h4 class="modal-title pull-left">{{"NASTAVITVE.ZNACKASETTINGS" | translate}}</h4>
                                <button type="button" class="close pull-right" aria-label="Close"
                                        (click)="tagSettingsRef.hide(tagSettings)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <app-urejanje-znacke [ref]="tagSettingsRef" [tag]="tagToEdit"
                                                     (change)="dobiTage(); nastaviProjekt(izbranProjekt)"
                                                     (close)="tagSettingsRef.hide(tagSettings)"></app-urejanje-znacke>
                            </div>
                        </ng-template>

                        <ng-template #newTag>
                            <div class="modal-header">
                                <h4 class="modal-title pull-left">{{"NASTAVITVE.NOVAZNACKA" | translate}}</h4>
                                <button type="button" class="close pull-right" aria-label="Close"
                                        (click)="newTagRef.hide(newTag)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <app-dodajanje-znacke [ref]="newTagRef"
                                                      (change)="dobiTage(); nastaviProjekt(izbranProjekt)"></app-dodajanje-znacke>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-add-folder></app-add-folder>
    <app-path-settings></app-path-settings>
</div>