<div id="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Nastavitve</h3>
            <div class="card">
                <div class="card-header">
                    Pot do slik
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="C:/Mapa1/Mapa2/..." aria-label="potDoSlik"
                               aria-describedby="basic-addon2" id="potID" [(ngModel)]="potDoSlik">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="printDir()">Nastavi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>