#navodilaPot {
    font-size: 0.75em;
    color: grey;
}

#basePath{
    font-weight: bolder;
}

.tag-true {
    background-color: #bcbbcb;
    border-color: #cc1616;
    cursor: pointer;
    height: 100%;
}

.tag-false {
    background-color: #ffffff;
    color: grey;
    cursor: pointer;
    height: 100%;
}