<div class="container">
    <div>
        <ngx-image-viewer [src]="potDoSlike"></ngx-image-viewer>
    </div>

    <div class="row mt-2">
        <button class="btn" (click)="prejsnjaSlika()">Nazaj</button>
        <button class="btn btn-success" (click)="shraniVnose()">Shrani</button>
        <button class="btn" (click)="naslednjaSlika()">Naprej</button>
    </div>
</div>

<div class="container">
    <form id="tagi">
        <!--media-->

        <div class="card card-body mt-3 static-media">
            media značke
            <hr>
            <div>Media_id: {{izbranMedia.mediaId}}</div>
            <div>Pregledano pod projektom: {{this.projectComponent.alreadySeen(this.izbranMedia.mediaProjects)}}</div>
            <div>
                <input class="form-check-input" type="checkbox" id="empty" [(ngModel)]="mediaData.empty"
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="empty">Prazna</label>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" id="interesting" [(ngModel)]="mediaData.interesting"
                       [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="interesting">Zanimiva</label>
            </div>
            <div>
                <label class="form-check-label" for="comment">Komentar</label>
                <textarea class="form-control" id="comment" [(ngModel)]="mediaData.comment"
                          [ngModelOptions]="{standalone: true}"></textarea>
            </div>
        </div>
        <!--tag-->
        <div class="card card-body mt-3 tag-content">
        tag značke
        <hr>
        <div class="form-group" *ngFor="let tag of mozniTagi">
            <img *ngIf="preveriCeLahkoDodaTag(tag)" src="../../../assets/images/plus.png" width="8px" height="8px"
                 style="cursor: pointer"
                 (click)="dodajSeEnTag(tag)">
            <img *ngIf="preveriCeLahkoOdstraniTag(tag)" src="../../../assets/images/minus.png" width="8px" height="8px"
                 style="cursor: pointer"
                 (click)="odstraniTag(tag)" class="ml-2">
            <div *ngIf="tag.childTags.length > 0">
                <div *ngIf="!tag.checkbox">
                    <label>{{tag.name}}</label>
                    <select class="form-control form-control-sm" [id]="tag.tagId" [(ngModel)]="tag.selectedChild"
                            [ngModelOptions]="{standalone: true}">
                        <option selected></option>
                        <option *ngFor="let child of tag.childTags" [ngValue]="child">{{child.name}}</option>
                    </select>
                </div>
                <div *ngIf="tag.checkbox">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="tag.checkboxValue"
                           (ngModelChange)="jeIzbralNivo($event, tag)" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label">{{tag.name}}</label>
                </div>

                <div *ngIf="tag.selectedChild && tag.selectedChild.childTags.length > 0">
                    <div *ngIf="!tag.selectedChild.checkbox">
                        <label *ngIf="!tag.checkbox">{{tag.selectedChild.name}}</label>
                        <select class="form-control form-control-sm" [id]="tag.selectedChild.tagId"
                                [(ngModel)]="tag.selectedChild.selectedChild"
                                [ngModelOptions]="{standalone: true}">
                            <option selected></option>
                            <option *ngFor="let child2 of tag.selectedChild.childTags" [ngValue]="child2">
                                {{child2.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="tag.selectedChild.checkbox">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="tag.selectedChild.checkboxValue"
                               (ngModelChange)="jeIzbralNivo($event, tag.selectedChild)"
                               [ngModelOptions]="{standalone: true}">
                        <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.name}}</label>
                    </div>

                    <div *ngIf="tag.selectedChild.selectedChild && tag.selectedChild.selectedChild.input">
                        <label>število</label>
                        <input class="form-control form-control-sm" type="number"
                               [(ngModel)]="tag.selectedChild.selectedChild.inputValue"
                               [ngModelOptions]="{standalone: true}">
                    </div>

                    <div *ngIf="tag.selectedChild.selectedChild && tag.selectedChild.selectedChild.childTags.length > 0">
                        <div *ngIf="!tag.selectedChild.selectedChild.checkbox">
                            <label *ngIf="!tag.checkbox">{{tag.selectedChild.selectedChild.name}}</label>
                            <select class="form-control form-control-sm" [id]="tag.selectedChild.selectedChild.tagId"
                                    [(ngModel)]="tag.selectedChild.selectedChild.selectedChild"
                                    [ngModelOptions]="{standalone: true}">
                                <option selected></option>
                                <option *ngFor="let child3 of tag.selectedChild.selectedChild.childTags"
                                        [ngValue]="child3">
                                    {{child3.name}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="tag.selectedChild.selectedChild.checkbox">
                            <input class="form-check-input" type="checkbox"
                                   [(ngModel)]="tag.selectedChild.selectedChild.checkboxValue"
                                   (ngModelChange)="jeIzbralNivo($event, tag.selectedChild.selectedChild)"
                                   [ngModelOptions]="{standalone: true}">
                            <label class="form-check-label" *ngIf="!tag.checkbox">{{tag.selectedChild.selectedChild.name}}</label>
                        </div>

                        <div *ngIf="tag.selectedChild.selectedChild.selectedChild && tag.selectedChild.selectedChild.selectedChild.input">
                            <label>število</label>
                            <input class="form-control form-control-sm" type="number"
                                   [(ngModel)]="tag.selectedChild.selectedChild.selectedChild.inputValue"
                                   [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="tag.childTags.length === 0 && tag.input">
                <label>{{tag.name}}</label>
                <input class="form-control form-control-sm" type="number" [(ngModel)]="tag.inputValue"
                       [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        </div>
    </form>
</div>